body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('foto-ana.jpg'); /* Substitua 'sua-imagem-de-fundo.jpg' pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
}




.container {
    text-align: center;
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    color: #ff4081;
    margin-bottom: 20px;
}

.cartinhas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.cartinha {
    width: 60px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.cartinha img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cartinha:hover {
    transform: scale(1.1);
}

.mensagem-container {
    margin-top: 30px;
    font-size: 20px;
    color: #333;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
